DATABASE_URL=postgresql://root:password@localhost:5432/relayer

API_URL=https://devnet-api.multiversx.com
GATEWAY_URL=https://devnet-gateway.multiversx.com
REDIS_URL=127.0.0.1

EVENTS_NOTIFIER_URL=amqp://user:password@rabbitmq:5672
EVENTS_NOTIFIER_QUEUE=queue

CONTRACT_GATEWAY=

AXELAR_API_URL=

SOURCE_CHAIN_NAME=multiversx-D
