DATABASE_URL=postgresql://root:password@localhost:5432/relayer

API_URL=https://devnet-api.multiversx.com
GATEWAY_URL=https://devnet-gateway.multiversx.com
REDIS_URL=127.0.0.1

EVENTS_NOTIFIER_URL=amqp://user:password@rabbitmq:5672
EVENTS_NOTIFIER_QUEUE=queue

CONTRACT_GATEWAY=erd1qqqqqqqqqqqqqpgqvaj9w3g006wgj7avhen3au27datwgk63kklszcamgw
CONTRACT_GAS_SERVICE=erd1qqqqqqqqqqqqqpgqvr340nazahl2r0q7dnqvyakuk909yjvukklsuzx4ar
CONTRACT_ITS=erd1qqqqqqqqqqqqqpgqcv3rhjjrqpl88es4q25lw03hfhpw6s36kklsn6t9a6

CONTRACT_WEGLD_SWAP=erd1qqqqqqqqqqqqqpgqpv09kfzry5y4sj05udcngesat07umyj70n4sa2c0rp

AXELAR_GMP_API_URL=https://amplifier-devnet-amplifier.devnet.axelar.dev

CHAIN_ID=D

WALLET_MNEMONIC=

CLIENT_CERT=
CLIENT_KEY=

ENABLE_GAS_CHECK=1
